{% extends "base.html" %}
{% block title %}About us{% endblock %}
{% block navbar %}
			<li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            <li class="nav-item active"><a href="{% url 'about' %}" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{% url 'course' %}" class="nav-link">Courses</a></li>
            <li class="nav-item"><a href="{% url 'services' %}" class="nav-link">Our Services</a></li>
            <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
{% endblock  %}
{% block content %}

{% load static %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
						<div class="img" style="background-image: url({% static 'images/about.jpg' %}); border"></div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
          	<h2 class="mb-4">Future Step Solutions</h2>
						<p>We are a group of professional consultants working to build students carrier by guiding them to select a under graduate course of their interests.</p>
						<p>Our mission is to create a help the students to explore their carrier and let them know fuuture scopes by our counselling.</p>
						<p>Our efforts has always resulted in tremendous outcomes in counselling .</p>
					</div>
				</div>
			</div>
		</section>
		

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2 d-flex">
    			<div class="col-md-6 align-items-stretch d-flex">
    				</div>
    			</div>
          <div class="col-md-10 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
            <h2 class="mb-4">FSS Consultancy</h2>
            <p>FSS is an education consultancy has counselled and guided students to get admissions in good colleges across the country in various fields like Engineering, Medical, Commerce, Law, Aviation, Management and also PG courses of different programmes.</p>
            <p>We have been leading as a top consultancy in Bangalore from a decade and has done 5000 admissions successfully in various colleges in the country based on students score and percentile to accomplish his choice of field interest.</p>
          </div>
        </div>	
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-12">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="13">0</strong>
		                <span>Glorious Years</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="5000">0</strong>
		                <span>Students Counselled</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="15">0</strong>
		                <span>Teritorial Expansion</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="60">0</strong>
		                <span>Collaborated Institutes</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Student Says About Us</h2>
            <p>We have opinions taken from students and parents for services provided by FSS.</p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" >
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I found it on google while surfing for best consultancy. I was confused what to take after 12th, they assissted me with different carier scopes.I found interest in computer science engineering and got admission in RV College Of Engineering, Bangalore.</p>
                    <p class="name">Ansh Grover</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" >
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I consulted FSS from one of my friend, has a fabulous counselling. They guided me to get admission in St.Joseph's College Of Commerce.</p>
                    <p class="name">Jitesh Reddy</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I was confused for my carier after 12th, but one day evening got a call from FSS that they guide students for counselling and get admissions in good colleges. I ultimately joined Mount Carmel, Bangalore.</p>
                    <p class="name">Priyanka</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" >
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Rodel Golez</p>
                    <span class="position">Mother</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Ken Bosh</p>
                    <span class="position">Mother</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}