{% extends 'base.html' %}
{% block title %}
About
{% endblock  %}

{% block content %}
{% load static %}

    {% block navbar %}
        <li><a href="{% url 'home' %}" class="c-font-uppercase c-font-bold">Home</a></li>
        <li class="c-active"><a href="{% url 'about' %}" class="c-font-uppercase c-font-bold">About</a></li>
        <li><a href="{% url 'blog' %}" class="c-font-uppercase c-font-bold">Blog</a></li>
        <li><a href="{% url 'contact' %}" class="c-font-uppercase c-font-bold">Contact</a></li>
    {% endblock navbar %}


	<!-- BEGIN: PAGE CONTAINER -->
	<div class="c-layout-page">
		<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
		<div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center"
			style="background-image: url({% static 'assets/base/img/content/backgrounds/bg-9.jpg' %}})">
			<div class="container">
				<div class="c-page-title c-pull-left">
					<h3 class="c-font-uppercase c-font-bold c-font-dark c-font-20 c-font-slim">About Us 2</h3>
					<h4 class="c-font-dark c-font-slim">
						Page Sub Title Goes Here </h4>
				</div>
			</div>
		</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
		<!-- BEGIN: PAGE CONTENT -->
		<!-- BEGIN: CONTENT/MISC/ABOUT-2 -->
		<div class="c-content-box c-size-md c-bg-white">
			<div class="container">
				<div class="row c-padding-20">
					<div class="col-sm-12 wow animate fadeInUp">
						<p>FSS is a professional education counselling firm, guides in career counselling, admission
							guidance, exams counselling
							guidance, self evaluation based on online tests, predictor tool, check my eligibility, etc.
						</p>
						<p>It was established in 2015 with professional education counselling experts in order to guide
							students in support to
							their career of interests.
						</p>
						<p>Our senior team has an experience of 14years of educational counselling, career guidance,
							admission guidance in various
							streams and colleges.
						</p>
						<p>Most of Bangalore colleges have recognised our firm as one of the best career counselling and
							admission guidance firm.
							FSS holds a great honour and reputation from both colleges and our clients for being
							committed, well-knowledged, and
							transparency.
						</p>
						<p>We greet with a humble thanks to each one of them for seeking our services and whoever has
							already taken made us more
							prominent in the city. We always welcome you to be part of our family in seeking for any
							educational related guidance in
							the near future.</p>
					</div>
				</div>

				<div class="c-content-title-1 c-center c-margin-t-80">
					<h3 class="c-font-uppercase c-font-bold">Services We Do</h3>
					<div class="c-line-center"></div>
				</div>

				<div class="row row c-padding-20">
					<div class="col-sm-4 wow animate fadeInUp">
						<ul class="c-content-list-1 c-theme c-separator-dot c-font-uppercase">
							<li>Perfect Design interface</li>
							<li>Huge Community</li>
							<li>Support for Everyone</li>
							<li>Friendly Code</li>
							<li>Ultra Responsive</li>
						</ul>
					</div>
					<div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.2s">
						<ul class="c-content-list-1 c-theme c-separator-dot c-font-uppercase">
							<li>Perfect Design interface</li>
							<li>Huge Community</li>
							<li>Support for Everyone</li>
							<li>Friendly Code</li>
							<li>Ultra Responsive</li>
						</ul>
					</div>
					<div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.4s">
						<ul class="c-content-list-1 c-theme c-separator-dot c-font-uppercase">
							<li>Perfect Design interface</li>
							<li>Huge Community</li>
							<li>Support for Everyone</li>
							<li>Friendly Code</li>
							<li>Ultra Responsive</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- END: CONTENT/MISC/ABOUT-2 -->



		<!-- BEGIN: CONTENT/MISC/SERVICES-1 -->
		<div class="c-content-box c-size-md c-bg-grey-1  ">
			<div class="container">
				<div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
					<div class="row c-padding-20">
						<div class="col-md-4 col-sm-6">
							<div class="c-content-feature-2" data-height="height">
								<div class="c-icon-wrapper">
									<div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
								</div>
								<h3 class="c-font-uppercase c-font-bold c-title">Web Design</h3>
								<p>Lorem ipsum consectetuer dolore elit diam</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="c-content-feature-2" data-height="height">
								<div class="c-icon-wrapper">
									<div class="c-content-line-icon c-theme c-icon-support"></div>
								</div>
								<h3 class="c-font-uppercase c-font-bold c-title">Mobile Apps</h3>
								<p>Lorem ipsum consectetuer dolore elit diam</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="c-content-feature-2" data-height="height">
								<div class="c-icon-wrapper">
									<div class="c-content-line-icon c-theme c-icon-comment"></div>
								</div>
								<h3 class="c-font-uppercase c-font-bold c-title">Consulting</h3>
								<p>Lorem ipsum consectetuer dolore elit diam</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="c-content-feature-2" data-wow-delay1="2s" data-height="height">
								<div class="c-icon-wrapper">
									<div class="c-content-line-icon c-theme c-icon-bulb"></div>
								</div>
								<h3 class="c-font-uppercase c-font-bold c-title">Campaigns</h3>
								<p>Lorem ipsum consectetuer dolore elit diam</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="c-content-v-center c-theme-bg wow bounceInUp" data-wow-delay1="2s"
								data-height="height">
								<div class="c-wrapper">
									<div class="c-body c-padding-20 c-center">
										<h3
											class="c-font-19 c-line-height-28 c-font-uppercase c-font-white c-font-bold">
											Providing the best possible
											service to our customers
											without a breaking a sweat
										</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="c-content-feature-2" data-wow-delay1="2s" data-height="height">
								<div class="c-icon-wrapper">
									<div class="c-content-line-icon c-theme c-icon-globe"></div>
								</div>
								<h3 class="c-font-uppercase c-font-bold c-title">Hosting</h3>
								<p>Lorem ipsum consectetuer dolore elit diam</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END: CONTENT/MISC/SERVICES-1 -->



		<!-- END: PAGE CONTENT -->
	</div>
	<!-- END: PAGE CONTAINER -->

{% endblock content %}