{% extends 'base.html' %}
{% block title %}
Contact
{% endblock  %}

{% block content %}
{% load static %}

    {% block navbar %}
        <li><a href="{% url 'home' %}" class="c-font-uppercase c-font-bold">Home</a></li>
        <li><a href="{% url 'about' %}" class="c-font-uppercase c-font-bold">About</a></li>
        <li><a href="{% url 'blog' %}" class="c-font-uppercase c-font-bold">Blog</a></li>
        <li class="c-active"><a href="{% url 'contact' %}" class="c-font-uppercase c-font-bold">Contact</a></li>
    {% endblock navbar %}
    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page" style="background: rgb(0 41 64 / 9%);">
        <div class="c-content-box c-size-md c-bg-img-top c-no-padding c-pos-relative" jstcache="0" style="margin: 50px;">
            <div class="container">
                <div class="c-content-contact-1 c-opt-1">
                    <div class="row" data-auto-height=".c-height" id="contact-page">
                        
                        <div class="col-md-6">
                            <div class="c-contact">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">Keep in touch</h3>
                                    <div class="c-line-left"></div>
                                    <p class="c-font-lowercase">Our helpline is always open to receive any inquiry or
                                        feedback.
                                        Please feel free to drop us an email from the form below and we will get back to
                                        you as soon as we can.</p>
                                </div>
                                <form method='POST' action="{% url 'contact' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Name" class="form-control c-square c-theme input-lg" name="name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Email" class="form-control c-square c-theme input-lg" name="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Subject" class="form-control c-square c-theme input-lg" name="subject">
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control c-theme c-square input-lg"></textarea>
                                    </div>
                                    <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-4" style="margin-top: 55px;">
                            <div class="c-body">
                                <div class="c-section">
                                    <h3>FSS</h3>
                                </div>
                                <div class="c-section">
                                    <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Address</div>
                                    <p>#53, 2nd floor, 3rd Cross, Bhuvaneshwari Nagar, Dasarahalli main road, Hebbal, Kempapura, Bangalore-560024 Land mark- Near Union Bank / Nice Mart, INDIA.
                                    </p>
                                </div>
                                <div class="c-section">
                                    <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Contacts</div>
                                    <p><strong>T</strong><a href="tel:9590747327"> 919590 747327</a><br></p>
                                </div>
                                <div class="c-section">
                                    <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Social</div>
                                    <br>
                                    <ul class="c-content-iconlist-1 c-theme">
                                        {% comment %} <li><a href="#"><i class="fa fa-twitter"></i></a></li> {% endcomment %}
                                        <li><a href="https://m.facebook.com/2021admissions.counselling.guidnance/?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/educonsultz2021/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- END: CONTENT/CONTACT/FEEDBACK-1 -->

        <!-- END: PAGE CONTENT -->
    </div>
    <!-- END: PAGE CONTAINER -->

    <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-5 -->
{% endblock content %}