{% extends 'base.html' %}
{% block title %}
FSS
{% endblock  %}
{% block navbar %}
			<li class="nav-item active"><a href="{% url 'home' %}" class="nav-link pl-0">Home</a></li>
            <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{% url 'course' %}" class="nav-link">Courses</a></li>
            <li class="nav-item"><a href="{% url 'services' %}" class="nav-link">Ours Services</a></li>
            <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
{% endblock  %}
{% block content %}
{% load static %}
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url({% static 'images/bg_1.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">We Diminish The Gap Between Student And His Choice Of Educational Institute</h1>
            <p>Student will only become extra-ordinary when he is given right educational institute to design his right career.</p>
            <p><a href="tel:9590747327" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
          </div>
        </div>
        </div>
      </div>

	   <div class="slider-item" style="background-image:url({% static 'images/book1.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">We Diminish The Gap Between Student And His Choice Of Educational Institute</h1>
            <p>Student will only become extra-ordinary when he is given right educational institute to design his right career.</p>
            <p><a href="tel:9590747327" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
          </div>
        </div>
        </div>
      </div>

      <!---<div class="slider-item" style="background-image:url(images/bg_2.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">University, College School Education</h1>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
          </div>
        </div>
        </div>---->
      </div>
    </section>
	<br/>

<section id="enquiry" class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url({% static 'images/bg_5.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
    	<div class="container">
        	<div class="row justify-content-end">
          		<div class="col-md-6 py-5 px-md-5">
            		<div class="py-md-5">
              			<div class="heading-section heading-section-white ftco-animate mb-5">
                			<h2 class="mb-4">Enquire About Admissions-2020.</h2>
                			<h3>Looking for admissions in top colleges</h3>
                			<p>FSS guides you to get admissions in top colleges under your budget, consult us by droping a message.</p>
              			</div>
					

					{% if message %}
					<div id="error" class="alert alert-success" role="alert">
					<span class="closebtn " onclick="this.parentElement.style.display='none';" style="cursor:pointer;" >&times;</span>  						
						  {{ message }}
					</div>
					{% endif %}

					{% if error %}
					<br/>
					<div id="error" class="alert alert-danger" role="alert" >
            <span class="closebtn " onclick="this.parentElement.style.display='none';" style="cursor:pointer;" >
            &times;
            </span>  							
					{{ error }}
					</div>
					{% endif %}

              		<form name="enquiryform"  method="POST" action="{% url 'home' %}"  class="appointment-form ftco-animate">
                	{% csrf_token %}
                	<div class="d-md-flex">
                  		<div class="form-group">
                    		<input type="text" class="form-control" name="fullName" placeholder="Full Name">
                  		</div>
                  		<div class="form-group ml-md-4">
                    		<input type="text" class="form-control" name="interestedIn" placeholder="Interested In ?">
                  		</div>
                	</div>
                	<div class="d-md-flex">
                  		<div class="form-group">
                    		<div class="form-field">
                     			<div class="select-wrap">
                        			<div class="icon" ><span class="ion-ios-arrow-down" ></span></div>
                        				<select name="appliedFor" id="" class="form-control">
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="OTHER" >Applied For ?</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="JEE">JEE</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="NEET">NEET</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="NEET-PG">NEET-PG</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="CET">CET</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="COMED-K">Comed-K</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="OTHER">Other</option>
                        				</select>
                      				</div>
                    			</div>
                  			</div>
							
                  			<div class="form-group ml-md-4">
                    			<input type="tel" name="phone" class="form-control" placeholder="Phone">
                  			</div>
                		</div>
                		<div class="d-md-flex">
                  			<div class="form-group">
                    			<textarea name="message" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
                  			</div>
                  			<div class="form-group ml-md-4">
                    			<input type="submit" value="Enquire Now" class="btn btn-primary py-3 px-4">
                  			</div>
                		</div>
					</div>
              		</form>
            	</div>
          	</div>
        </div>
      </div>
	</div>
</section>

<br/>

    
	<section class="ftco-services ftco-no-pb">
			<div class="container-wrap">
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
		  		<a href="https://docs.google.com/forms/d/e/1FAIpQLSfqvC4ZT77VpuQPY-MqmTSYUuXWamBfQBaMi_JRy5-8o2WHdA/viewform?usp=sf_link" target="_blank">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            	<span class="flaticon-teacher"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Engineering</h3>
                <p>Apply.</p>
              </div>
            </div>
			</a>      
          </div>
		  
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTsH9jesLYp5wkZZ7H8MjNHKC97H7OcRuFJ78gf8UrKyQjwg/viewform?usp=sf_link" target="_blank">
			<div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-reading"></span>
              </div>
              <div class="media-body p-2 mt-3">
			   <h3 class="heading">Medical</h3>
                <p>Apply.</p>
              </div>
            </div>
			</a>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
		    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdojvlVgiE95kk_GpKolIIeegIBH6E0gfeV1S66SqSi67xW-w/viewform?usp=sf_link" target="_blank">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Architecture</h3>
                <p>Apply.</p>
              </div>
            </div> 
			</a>     
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
		    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfj-NvsprOlfn52SAISPfRnNiwnlHphZSjLsujm3oRPQPajmw/viewform?usp=sf_link" target="_blank">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-diploma"></span>
              </div>
              <div class="media-body p-2 mt-3">
			    <h3 class="heading">Law</h3>
                <p>Apply.</p>
              </div>
            </div>      
          </div>
        </div>
		</a>
		</div>
			<div class="container-wrap">
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
		 	<a href="https://docs.google.com/forms/d/e/1FAIpQLSf8FbZhLucUXu1ImnprWyLNTfqY23TtsO01nT7vR5XHeVrgFQ/viewform?usp=sf_link" target="_blank">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            	<span class="flaticon-teacher"></span>
              </div>

			  <br/>
              
			  <div class="media-body p-2 mt-3">
                <h3 class="heading">Aviation</h3>
                <p>Apply.</p>
              </div>
            </div> 
			</a>     
          </div>
		  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfj-NvsprOlfn52SAISPfRnNiwnlHphZSjLsujm3oRPQPajmw/viewform?usp=sf_link" target="_blank">
			<div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
               <h3 class="heading">Management</h3>
			    <p>Apply.</p>
              </div>
            </div>
			</a>      
          </div>
		  		  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
		  	<a href="https://docs.google.com/forms/d/e/1FAIpQLSfj-NvsprOlfn52SAISPfRnNiwnlHphZSjLsujm3oRPQPajmw/viewform?usp=sf_link" target="_blank">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Commerce</h3>
                <p>Apply.</p>
              </div>
            </div> 
            </a>     
          </div>
		  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
		  	<a href="https://docs.google.com/forms/d/e/1FAIpQLScKlOO_KGfQvfrQXoi58zLOXng0AtMwXaHrzIEEsrfmkeWv2g/viewform?usp=sf_link" target="_blank">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">PG Medical</h3>
                <p>Apply.</p>
              </div>
            </div>
            </a>      
          </div>
		</section>

		<br/>

<section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
              <h3 class="heading"><b>Engineering</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters">
           <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Bangalore</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Chennai</p> </a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Mumbai</p></a>
            </div>
        </div>
      </div>
    </section>
	<br/>
	<section class="ftco-services ftco-no-pb">
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Pune</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Delhi</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

<section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
              <h3 class="heading"><b>Medical</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Bangalore</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Chennai</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Mumbai</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>
<section class="ftco-services ftco-no-pb">
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Pune</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Delhi</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

<section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
              <h3 class="heading"><b>Architecture</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Bangalore</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Chennai</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Mumbai</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>
<section class="ftco-services ftco-no-pb">
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Pune</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Delhi</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

<section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
              <h3 class="heading"><b>Commerce<br/>Management<br/>Law</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Bangalore</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Chennai</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Mumbai</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>
<section class="ftco-services ftco-no-pb">
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Pune</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Delhi</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

<section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
              <h3 class="heading"><b>MS/M-tech</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Bangalore</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Chennai</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Mumbai</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>
	<section class="ftco-services ftco-no-pb">
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Pune</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Delhi</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

    <section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
              <h3 class="heading"><b>MD/MS-PG Medical</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
          <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Bangalore</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Chennai</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Mumbai</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>
    <section class="ftco-services ftco-no-pb">
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Pune</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Delhi</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

    <section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
              <h3 class="heading"><b>Aviation</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Bangalore</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Chennai</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Mumbai</p></a>
            </div>
        </div>
      </div>
    </section>
    <br/>
    <section class="ftco-services ftco-no-pb">
      <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Pune</p></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white">
            <a href="{% url 'details' 'blog-slug-name' %}" style="color:#fff;" >  <p>Top Colleges in Delhi</p></a>
            </div>
        </div>
      </div>
    </section>



		<!---<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
						<div class="img" style="background-image: url(images/about.jpg); border"></div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
          	<h2 class="mb-4">What We Offer</h2>
						<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
									<div class="text pl-3">
										<h3>Safety First</h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
									<div class="text pl-3">
										<h3>Regular Classes</h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
									<div class="text pl-3">
										<h3>Glorious Years</h3>
										<p>12</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
									<div class="text pl-3">
										<h3>Sufficient Classrooms</h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
									<div class="text pl-3">
										<h3>Creative Lessons</h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
									<div class="text pl-3">
										<h3>Sports Facilities</h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>--->
		<br/>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2 d-flex">
    			<div class="col-md-6 align-items-stretch d-flex">
    				<div class="img img-video d-flex align-items-center" style="background-image: url({% static 'images/about-2.jpg' %});">
    					<div class="video justify-content-center">
								<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
									<span class="ion-ios-play"></span>
		  					</a>
							</div>
    				</div>
    			</div>
          <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
            <h2 class="mb-4">Future Step Solutions</h2>
            <p>FSS is an education consultancy has counselled and guided students to get admissions in good colleges across the country in various fields like Engineering, Medical, Commerce, Law, Aviation, Management and also PG courses of different programmes.</p>
            <p>We have been leading as a top consultancy in Bangalore from a decade and has done 5000 admissions successfully in various colleges in the country based on students score and percentile to accomplish his choice of field interest.</p>
          </div>
        </div>	
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-12">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="13">0</strong>
		                <span>Glorious Years</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="5000">0</strong>
		                <span>Students Counselled</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="15">0</strong>
		                <span>Teritorial Expansion</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="60">0</strong>
		                <span>Collaborated Institutes</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>
		<br/>

		<!---<section class="ftco-section">
			<div class="container-fluid px-4">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Colleges</span></h2>
            <p>Top Colleges in Bangalore</p>
          </div>
        </div>	
				<div class="row">
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-1.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
					
							<h3><a href="#">Electric Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="#" class="btn btn-primary">Apply now</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-2.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Electric Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="#" class="btn btn-primary">Apply now</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-3.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Electric Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="#" class="btn btn-primary">Apply now</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-4.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Electric Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="#" class="btn btn-primary">Apply now</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>--->
		<br/>

    <!---<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/bg_5.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-6 py-5 px-md-5">
            <div class="py-md-5">
              <div class="heading-section heading-section-white ftco-animate mb-5">
                <h2 class="mb-4">Request A Quote</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
              <form action="#" class="appointment-form ftco-animate">
                <div class="d-md-flex">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="form-group ml-md-4">
                    <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                </div>
                <div class="d-md-flex">
                  <div class="form-group">
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="" class="form-control">
                          <option value="">Select Your Course</option>
                          <option value="">Art Lesson</option>
                          <option value="">Language Lesson</option>
                          <option value="">Music Lesson</option>
                          <option value="">Sports</option>
                          <option value="">Other Services</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group ml-md-4">
                    <input type="text" class="form-control" placeholder="Phone">
                  </div>
                </div>
                <div class="d-md-flex">
                  <div class="form-group">
                    <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group ml-md-4">
                    <input type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>--->

{% comment %} 
		<section class="ftco-section bg-light">
			<div class="container-fluid px-4">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Our Consultant Team</h2>
            <p>We have highly skilled and professional education consultant team that guides student at every step regarding admissions, counsells based on his interests, scope of various programmes, best colleges for his carier. </p>
          </div>
        </div>	
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/img1.png' %});"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Mr.Kripendra Kumar</h3>
								<span class="position mb-2">Edu Consultant</span>
								<div class="faded">
									<p>Guiding student to accomplish his choice of interest.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/teacher-2.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Mr.Rahul Singh</h3>
								<span class="position mb-2">Sr.Edu Consultant</span>
								<div class="faded">
									<p>getting right education in right college.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/teacher-3.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Ms.Asha</h3>
								<span class="position mb-2">Sr.Edu Consultant</span>
								<div class="faded">
									<p>Just consult us we will guide you to get right your best institute.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/teacher-4.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Mr.Ram</h3>
								<span class="position mb-2">Edu Consultant</span>
								<div class="faded">
									<p>FSS is not just a consultancy, its a path to reach your best institute.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<br/> {% endcomment %}


    <!---<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/bg_5.jpg);" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row justify-content-end">
    			<div class="col-md-6 py-5 px-md-5">
    				<div class="py-md-5">
		          <div class="heading-section heading-section-white ftco-animate mb-5">
		            <h2 class="mb-4">Request A Quote</h2>
		            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		          </div>
		          <form action="#" class="appointment-form ftco-animate">
		    				<div class="d-md-flex">
			    				<div class="form-group">
			    					<input type="text" class="form-control" placeholder="First Name">
			    				</div>
			    				<div class="form-group ml-md-4">
			    					<input type="text" class="form-control" placeholder="Last Name">
			    				</div>
		    				</div>
		    				<div class="d-md-flex">
		    					<div class="form-group">
			    					<div class="form-field">
		        					<div class="select-wrap">
		                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
		                    <select name="" id="" class="form-control">
		                    	<option value="">Select Your Course</option>
		                      <option value="">Art Lesson</option>
		                      <option value="">Language Lesson</option>
		                      <option value="">Music Lesson</option>
		                      <option value="">Sports</option>
		                      <option value="">Other Services</option>
		                    </select>
		                  </div>
			              </div>
			    				</div>
		    					<div class="form-group ml-md-4">
			    					<input type="text" class="form-control" placeholder="Phone">
			    				</div>
		    				</div>
		    				<div class="d-md-flex">
		    					<div class="form-group">
			              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
			            </div>
			            <div class="form-group ml-md-4">
			              <input type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">
			            </div>
		    				</div>
		    			</form>
		    		</div>
    			</div>
        </div>
    	</div>
    </section>--->
	<br/>

		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Recent</span> Blog</h2>
            <p>Get updated regarding top colleges for your branch preferences in blog.</p>
          </div>
        </div>
		<div class="row">
		{% for blog in recBlogs %}
		<div class="col-md-6 col-lg-4 ftco-animate" style="z-index:5;">
            <div class="blog-entry">
              <a href="{% url 'details' blog.slug %}" class="block-20 d-flex align-items-end" style="background-image: url({{ blog.image.url }});">
				<div class="meta-date text-center p-2">
                  <span class="day">{{ blog.pub_date_pro_day }}</span>
                  <span class="mos">{{ blog.pub_date_pro_month }}</span>
                  <span class="yr">{{ blog.pub_date_pro_year }}</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h5><a href="{% url 'details' blog.slug %}" class="custom-blog-title short">{{ blog.title }}</a></h5>
				{% comment %} <p>{{ blog.short | safe }}...</p> {% endcomment %}
                
				<div class="d-flex align-items-center mt-1">
	                
					<p class="ml-0 mb-0">
	                	<a href="{% url 'details' blog.slug %}" class="mr-2" style="color: #000">{{ blog.author }}  | Uploaded {{blog.pub_date_pro_month}} {{blog.pub_date_pro_day}}, {{blog.pub_date_pro_year}}</a>
	                	{% comment %} <a href="{% url 'details' blog.slug %}" class="meta-chat"><span class="icon-chat"></span> 3</a> {% endcomment %}
	                </p>
                </div>
              </div>
            </div>
          </div>

		{% endfor %}
                </div>
			</div>
		</section>
		<br/>

	<section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Student Says About Us</h2>
            <p>We have opinions taken from students and parents for services provided by FSS.</p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-1.jpg' %})">
                  </div>
                  <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I found it on google while surfing for best consultancy. I was confused what to take after 12th, they assissted me with different carier scopes.I found interest in computer science engineering and got admission in RV College Of Engineering, Bangalore.</p>
                    <p class="name">Ansh Grover</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-2.jpg' %}.jpg)">
                  </div>
                  <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I consulted FSS from one of my friend, has a fabulous counselling. They guided me to get admission in St.Joseph's College Of Commerce.</p>
                    <p class="name">Jitesh Reddy</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-3.jpg' %})">
                  </div>
                  <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I was confused for my carier after 12th, but one day evening got a call from FSS that they guide students for counselling and get admissions in good colleges. I ultimately joined Mount Carmel, Bangalore.</p>
                    <p class="name">Priyanka</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-4.jpg' %})">
                  </div>
                  <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Rodel Golez</p>
                    <span class="position">Mother</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-1.jpg' %})">
                  </div>
                  <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Ken Bosh</p>
                    <span class="position">Mother</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	<br/>

		<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/image_1.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/course-1.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/image_2.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/image_2.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/image_3.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/image_3.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/image_4.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/image_4.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>
	<br/>


{% endblock  %}
