{% extends 'base.html' %}
{% block title %}
Future Step Solutions
{% endblock  %}

{% block content %}
{% load static %}

    {% block navbar %}
        <li class="c-active"><a href="{% url 'home' %}" class="c-font-uppercase c-font-bold">Home</a></li>
        <li><a href="{% url 'about' %}" class="c-font-uppercase c-font-bold">About</a></li>
        <li><a href="{% url 'blog' %}" class="c-font-uppercase c-font-bold">Blog</a></li>
        <li><a href="{% url 'contact' %}" class="c-font-uppercase c-font-bold">Contact</a></li>
    {% endblock navbar %}
    <!-- BEGIN: PAGE CONTAINER -->
        <div class="">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
            <section class="" dir="ltr">

                <div class="rqWYuQ">
                    <div class="tw1Mxw">
                        <div class="MtOiNg RbNOzA" style="background: center;">
                            <img src="{% static 'assets/base/img/content/backgrounds/bg-3.jpg' %}" style="
                                    position: absolute;
                                    z-index: -100;
                                    width: -webkit-fill-available;
                                    height: -webkit-fill-available;
                                ">
                            <div class="main-search">
                                <div class="XEuxQg">
                                    <div class="oo_zNQ">
                                        <h4 class="c-font-white c-font-26">Counselling Guidance</h4>
                                    </div>
                                    <div class="WRuJJQ">
                                        <div class="d6HEaw"></div>
                                        <form name="searchbox" method="GET" action="{% url 'search:searchposts' %}" value="{{request.GET.q}}">
                                            {% csrf_token %}
                                            <div>
                                                <div>
                                                    <div class="_3GF_gA">
                                                        <div class="fybGUw Ut-ecQ">
                                                            <div class="tMP70Q"><input  name="q" class="form-control" type="text"
                                                                    placeholder="Search colleges, exams, courses and more."
                                                                    aria-label="Search colleges, exams, courses and more."
                                                                    value=""
                                                                    style="width: 100%; height: 45px; border-radius: 5px;border: 0.5px solid;padding: 10px 15px; margin-bottom:1rem;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
            <!-- BEGIN: CONTENT/FEATURES/FEATURES-1 -->
            <div class="c-content-box c-size-lg c-bg-img-top c-bg-white">
                <div class="container">
                    <div class="c-content-feature-6">
                        <!-- Begin: Title 1 component -->
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-center c-font-thin">Great support <strong>For All
                                    Customers</strong></h3>
                            <div class="c-line-center c-theme-bg"></div>
                        </div>
                        <!-- End-->
                        <ul class="c-list" style="margin: 10px 27px;">
                            <li>
                                <div class="c-card c-bg-opacity-1 c-shadow">
                                    <h3 class="c-font-bold">Counselling from experts</h3>
                                    <p>
                                        Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore
                                    </p>

                                    <a href="#"
                                        class="btn btn-lg c-btn-green c-font-uppercase c-font-bold c-btn-square">LEARN
                                        MORE</a>
                                </div>
                            </li>
                            <li>
                                <div class="c-card c-bg-opacity-1 c-shadow">
                                    <h3 class="c-font-bold">Admission Guidance</h3>
                                    <p>
                                        Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore
                                    </p>
                                    <a href="#"
                                        class="btn btn-lg c-btn-green c-font-uppercase c-font-bold c-btn-square">LEARN
                                        MORE</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/FEATURES/FEATURES-1 -->
            <div class="c-content-box c-size-lg  c-bg-dark"
                style="background-image: url(../../assets/base/img/content/backgrounds/bg-37.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-content-title-1 c-margin-b-60">
                                <h3 class="c-center c-font-uppercase c-font-white c-font-bold">
                                    Great Support For All Customers
                                </h3>
                                <p class="c-center c-font-uppercase c-font-17  c-font-white">
                                    
                                </p>
                                <div class="c-line-center"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-xs-4">
                            <div class="c-content-step-1 c-opt-1">
                                <div class="">
                                    <span class="c-hr c-hr-first c-theme-border-after c-theme-border-before">
                                        <span class="c-content-line-icon c-icon-14"></span>
                                    </span>
                                </div>
                                <div class="c-title c-font-20 c-font-bold c-font-white c-font-uppercase">1. Setup Your Profile
                                    <br>
                                </div>
                                <div class="c-description c-font-17 c-font-white">
                                    Enter your basic details and let us know what you're looking for.
                                </div>
                                <button
                                    class="btn btn-md c-btn-square c-btn-border-2x c-btn-green c-btn-uppercase c-btn-bold" style="padding:10px">EXPLORE</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="c-content-step-1 c-opt-1">
                                <div class=""><span class="c-hr c-theme-border-after c-theme-border-before"><span
                                            class="c-content-line-icon c-icon-11"></span></span></div>
                                <div class="c-title c-font-20 c-font-bold c-font-white c-font-uppercase">2. Profile analysis
                                </div>
                                <div class="c-description c-font-17 c-font-white">
                                    Your profile will be checked and analysed. Our team will revert back to you within 24hrs between 10 AM to 6 PM
                                </div>
                                <button
                                    class="btn btn-md c-btn-square c-btn-border-2x c-btn-green c-btn-uppercase c-btn-bold" style="padding:10px">EXPLORE</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="c-content-step-1 c-opt-1">
                                <div class=""><span class="c-hr c-hr-last c-theme-border-after c-theme-border-before"><span
                                            class="c-content-line-icon c-icon-16"></span></span></div>
                                <div class="c-title c-font-20 c-font-bold c-font-white c-font-uppercase">3. Check
                                    eligibility
                                </div>
                                <div class="c-description c-font-17 c-font-white">
                                    Profile will be checked with eligibility for different courses and colleges.
                                </div>
                                <button
                                    class="btn btn-md c-btn-square c-btn-border-2x c-btn-green c-btn-uppercase c-btn-bold" style="padding:10px">EXPLORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BEGIN -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="c-content-services-6">
                        <div class="c-content-title-1 c-opt-1 wow fadeInUp"
                            style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                            <h3 class="c-center c-font-bold">Our Tools</h3>
                            <p class="c-font-center">Getting it right the first time.</p>
                            <div class="c-line-center c-theme-bg"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <a href="#">
                                    <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0s"
                                        style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp; opacity: 1;">
                                        <div
                                            class="c-content-services-6-item-icon c-content-business-line-icon c-theme c-business-icon-13">
                                        </div>
                                        <h3 class="c-content-services-6-item-title">Rank Predictor</h3>
                                        <p class="c-content-services-6-item-desc">Predict your rank based on your score for all entrance exams.
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <a href="">
                                    <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0.2s"
                                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; opacity: 1;">
                                        <div
                                            class="c-content-services-6-item-icon c-content-business-line-icon c-theme c-business-icon-12">
                                        </div>
                                        <h3 class="c-content-services-6-item-title">College Predictor</h3>
                                        <p class="c-content-services-6-item-desc">Predict colleges based on rank, course and city
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <a href="#">
                                    <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0.4s"
                                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; opacity: 1;">
                                        <div
                                            class="c-content-services-6-item-icon c-content-business-line-icon c-theme c-business-icon-29">
                                        </div>
                                        <h3 class="c-content-services-6-item-title">Top Colleges</h3>
                                        <p class="c-content-services-6-item-desc">Check your best college city and course wise
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END -->




            <!-- END: PAGE CONTENT -->
        </div>
    <!-- END: PAGE CONTAINER -->
{% endblock content %}