{% extends 'base.html' %}
{% block title %}
Future Step Solutions
{% endblock  %}
{% block navbar %}
			<li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{% url 'course' %}" class="nav-link">Courses</a></li>
            <li class="nav-item"><a href="{% url 'services' %}" class="nav-link">Our Services</a></li>
            <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
{% endblock  %}
{% block content %}
{% load static %}
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url({% static 'images/bg_1.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">We Diminish The Gap Between Student And His Choice Of Educational Institute</h1>
            <p>Student will only become extra-ordinary when he is given right educational institute to design his right career.</p>
            <p><a href="tel:9590747327" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
          </div>
        </div>
        </div>
      </div>

	   <div class="slider-item" style="background-image:url({% static 'images/book1.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">We Diminish The Gap Between Student And His Choice Of Educational Institute</h1>
            <p>Student will only become extra-ordinary when he is given right educational institute to design his right career.</p>
            <p><a href="tel:9590747327" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
          </div>
        </div>
        </div>
      </div>
      </div>
    </section>
	<br/>

<section id="enquiry" class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url({% static 'images/bg_5.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
    	<div class="container">
        	<div class="row justify-content-end">
          		<div class="col-md-6 py-5 px-md-5">
            		<div class="py-md-5">
              			<div class="heading-section heading-section-white ftco-animate mb-5">
                			<h2 class="mb-4">Enquire About Admissions-2020.</h2>
                			<h3>Looking for admissions in top colleges</h3>
                			<p>FSS guides you to get admissions in top colleges under your budget, consult us by droping a message.</p>
              			</div>
				

              		<form name="enquiryform"  method="POST" action="{% url 'home' %}"  class="appointment-form ftco-animate">
                	{% csrf_token %}
                	<div class="d-md-flex">
                  		<div class="form-group">
                    		<input type="text" class="form-control" name="fullName" placeholder="Full Name">
                  		</div>
                  		<div class="form-group ml-md-4">
                    		<input type="text" class="form-control" name="interestedIn" placeholder="Interested In ?">
                  		</div>
                	</div>
                	<div class="d-md-flex">
                  		<div class="form-group">
                    		<div class="form-field">
                     			<div class="select-wrap">
                        			<div class="icon" ><span class="ion-ios-arrow-down" ></span></div>
                        				<select name="appliedFor" id="" class="form-control">
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="OTHER" >Applied For ?</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="JEE">JEE</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="NEET">NEET</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="NEET-PG">NEET-PG</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="CET">CET</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="COMED-K">Comed-K</option>
											<option style="color: rgba(0, 0, 0, 0.9) !important" value="OTHER">Other</option>
                        				</select>
                      				</div>
                    			</div>
                  			</div>
							
                  			<div class="form-group ml-md-4">
                    			<input type="tel" name="phone" class="form-control" placeholder="Phone">
                  			</div>
                		</div>
                		<div class="d-md-flex">
                  			<div class="form-group">
                    			<textarea name="message" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
                  			</div>
                  			<div class="form-group ml-md-4">
                    			<input type="submit" value="Enquire Now" class="btn btn-primary py-3 px-4">
                  			</div>
                		</div>
					</div>
              		</form>
            	</div>
          	</div>
        </div>
      </div>
	</div>
</section>

<br/>


	<section class="ftco-services ftco-no-pb">
			<div class="container-wrap">
				<div class="row no-gutters m-3">
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary justify-content-center border border-light">
            <div class="media block-6 d-block text-center" data-toggle="modal" data-target="#enggModalCenter" style="cursor:pointer;">
              <div class="icon d-flex justify-content-center align-items-center">
            	<span class="flaticon-teacher"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Engineering</h3>
                <p>Apply.</p>
              </div>
            </div>     
          </div>


		  
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken justify-content-center border border-light">
			<div class="media block-6 d-block text-center" data-toggle="modal" data-target="#medModalCenter" style="cursor:pointer;">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-reading"></span>
              </div>
              <div class="media-body p-2 mt-3">
			   <h3 class="heading">Medical</h3>
                <p>Apply.</p>
              </div>
            </div>
			</a>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary justify-content-center border border-light">
            <div class="media block-6 d-block text-center" data-toggle="modal" data-target="#architectureModalCenter" style="cursor:pointer;">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Architecture</h3>
                <p>Apply.</p>
              </div>
            </div>   
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken justify-content-center border border-light">
            <div class="media block-6 d-block text-center" data-toggle="modal" data-target="#LMCModalCenter" style="cursor:pointer;">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-diploma"></span>
              </div>
              <div class="media-body p-2 mt-3">
			    <h3 class="heading">Law</h3>
                <p>Apply.</p>
              </div>
            </div>      
          </div>
        </div>
		</div>
			<div class="container-wrap">
				<div class="row no-gutters m-3">
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken justify-content-center border border-light">
            <div class="media block-6 d-block text-center" data-toggle="modal" data-target="#aviationModalCenter" style="cursor:pointer;">
              <div class="icon d-flex justify-content-center align-items-center">
            	<span class="flaticon-teacher"></span>
              </div>
			  <br/>
			  <div class="media-body p-2 mt-3">
                <h3 class="heading">Aviation</h3>
                <p>Apply.</p>
              </div>
            </div>
          </div>
		  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary justify-content-center border border-light">
			<div class="media block-6 d-block text-center" data-toggle="modal" data-target="#LMCModalCenter" style="cursor:pointer;">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
               <h3 class="heading">Management</h3>
			    <p>Apply.</p>
              </div>
            </div>
          </div>
		  		  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken justify-content-center border border-light">
            <div class="media block-6 d-block text-center" data-toggle="modal" data-target="#LMCModalCenter" style="cursor:pointer;">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Commerce</h3>
                <p>Apply.</p>
              </div>
            </div> 
          </div>
		  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary justify-content-center border border-light">
            <div class="media block-6 d-block text-center" data-toggle="modal" data-target="#PGmedModalCenter" style="cursor:pointer;">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">PG Medical</h3>
                <p>Apply.</p>
              </div>
            </div>      
          </div>
		</section>

		<br/>
  <section style="background-color:#DCDCDC;" >  
<section class="ftco-services ftco-no-pb justify-content-center">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary justify-content-center">
              <h3 class="heading text-white"><b>Engineering</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters justify-content-center">
           <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
            <a href="{% url 'details' 'Top-Engineering-Colleges-In-Bangalore' %}" class="text-white" > <b> <p>Top Colleges in Bangalore</p></b></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white justify-content-center">
            <a href="{% url 'details' 'Top-Engineering-Colleges-In-Chennai' %}" style="color:#fff1e1;" > <b> <p>Top Colleges in Chennai</p> </b></a>
            </div>
        </div>
      </div>
    </section>
	<br/>

<section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
              <h3 class="heading text-white"><b>UG Medical</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white justify-content-center">
            <a href="{% url 'details' 'Top-UG-Medical-Colleges-In-Karnataka' %}" style="color:#fff;" > <b> <p>Top Colleges in Karnataka</p></b></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

<section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
              <h3 class="heading text-white"><b>Architecture</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white justify-content-center">
            <a href="{% url 'details' 'Top-Architecture-Colleges-In-Bngalore' %}" style="color:#fff;" ><b>  <p>Top Colleges in Bangalore</p></b></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

<section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
              <h3 class="heading text-white"><b>Commerce<br/>Management<br/>Law</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
            <a href="{% url 'details' 'Top-Bcom-Colleges-In-Bangalore' %}" style="color:#fff;" > <b> <p>Top B.com Colleges in Bangalore</p></b></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white justify-content-center">
            <a href="{% url 'details' 'Top-BBA-Colleges-In-Bangalore' %}" style="color:#fff;" > <b> <p>Top BBA Colleges in Bangalore</p></b></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
            <a href="{% url 'details' 'Top-BBM-Colleges-In-Bangalore' %}" style="color:#fff;" > <b> <p>Top BBM Colleges in Bangalore</p></b></a>
            </div>
        </div>
      </div>
    </section>
    <br/>
<section class="ftco-services ftco-no-pb">
      <div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white justify-content-center">
            <a href="{% url 'details' 'Top-BA-Colleges-In-Bangalore' %}" style="color:#fff;" > <b> <p>Top BA Colleges in Bangalore</p></b></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

<section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
              <h3 class="heading text-white"><b>MS/M-tech</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white justify-content-center">
            <a href="{% url 'details' 'Top-MTech-Colleges-In-Bangalore' %}" style="color:#fff;" ><b>  <p>Top Colleges in Bangalore</p></b></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

    <section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
              <h3 class="heading text-white"><b>MD/MS-PG Medical</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
          <a href="{% url 'details' 'Top-PG-Medical-Colleges-In-Karnataka' %}" style="color:#fff;" > <b> <p>Top Colleges in Karnataka</p></b></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white justify-content-center">
            <a href="{% url 'details' 'Top-PG-Medical-Colleges-in-Maharashtra' %}" style="color:#fff;" ><b>  <p>Top Colleges in Maharashtra</p></b></a>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
          <a href="{% url 'details' 'Top-PG-Medical-Colleges-in-Tamil-Nadu' %}" style="color:#fff;" > <b> <p>Top Colleges in Tamil Nadu</p></b></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

    <section class="ftco-services ftco-no-pb">
      <section class="align-self-stretch"><div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-primary text-white justify-content-center">
              <h3 class="heading text-white"><b>Aviation</b></h3></section><br/>
      <div class="container-wrap">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-3 d-flex services align-self-stretch py-2 px-4 ftco-animate bg-darken text-white justify-content-center">
            <a href="{% url 'details' 'Top-Aviation-Colleges-In-Bangalore' %}" style="color:#fff;" > <b> <p>Top Colleges in Bangalore</p></b></a>
            </div>
        </div>
      </div>
    </section>
    <br/>

    </section>
		<br/>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2 d-flex">
    			<div class="col-md-6 align-items-stretch d-flex">
    				</div>
    			</div>
          <div class="col-md-10 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
            <h2 class="mb-4">Future Step Solutions</h2>
            <p>FSS is an education consultancy has counselled and guided students to get admissions in good colleges across the country in various fields like Engineering, Medical, Commerce, Law, Aviation, Management and also PG courses of different programmes.</p>
            <p>We have been leading as a top consultancy in Bangalore from a decade and has done 5000 admissions successfully in various colleges in the country based on students score and percentile to accomplish his choice of field interest.</p>
          </div>
        </div>	
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-12">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="13">0</strong>
		                <span>Glorious Years</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="5000">0</strong>
		                <span>Students Counselled</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="15">0</strong>
		                <span>Teritorial Expansion</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="60">0</strong>
		                <span>Collaborated Institutes</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>
		<br/>
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Recent</span> Blog</h2>
            <p>Get updated regarding top colleges for your branch preferences in blog.</p>
          </div>
        </div>
		<div class="row">
		{% for blog in recBlogs %}
		 <div class="col-md-6 col-lg-4 ftco-animate mb-3 " style="z-index:5;">
          <div class="blog-entry" style="margin-bottom:0; border:1px solid #C0C0C0; border-bottom:0px;" >
            <a href="{% url 'details' blog.slug %}" class="block-20 d-flex align-items-end" style="background-image: url({{ blog.image.url }});">
							<div class="meta-date text-center p-2">
                <span class="day">{{ blog.pub_date_pro_day }}</span>
                <span class="mos">{{ blog.pub_date_pro_month }}</span>
                <span class="yr">{{ blog.pub_date_pro_year }}</span>
              </div>
            </a>
          </div>
          <div class="text bg-white p-4" style="border:1px solid #C0C0C0; border-top:0px; border-radius:0 0 5px 5px;">
            <h5><a href="{% url 'details' blog.slug %}" class="custom-blog-title short">{{blog.title}}</a></h5>
            <p style="color: #C0C0C0;">{% autoescape off %}{{blog.body | truncatechars:58}} {% endautoescape %} <a href="{% url 'details' blog.slug %}" >Read More </a></p>
              <div class="d-flex align-items-center mt-1">  
	              <p class="ml-0 mb-0">
                  <a href="{% url 'details' blog.slug %}" class="mr-2" style="color: #696969;">By {{ blog.author | title}}</a>
                  {% comment %} <a href="{% url 'details' blog.slug %}" class="meta-chat"><span class="icon-chat"></span> 3</a> {% endcomment %}
	              </p>
              </div>
            </div>
          </div>
		{% endfor %}
                </div>
			</div>
		</section>
		<br/>

	<section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Student Says About Us</h2>
            <p>We have opinions taken from students and parents for services provided by FSS.</p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4">
                  </div>
                  <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I found it on google while surfing for best consultancy. I was confused what to take after 12th, they assissted me with different carier scopes.I found interest in computer science engineering and got admission in RV College Of Engineering, Bangalore.</p>
                    <p class="name">Ansh Grover</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" >
                  </div>
                  <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I consulted FSS from one of my friend, has a fabulous counselling. They guided me to get admission in St.Joseph's College Of Commerce.</p>
                    <p class="name">Jitesh Reddy</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" >
                  </div>
                  <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I was confused for my carier after 12th, but one day evening got a call from FSS that they guide students for counselling and get admissions in good colleges. I ultimately joined Mount Carmel, Bangalore.</p>
                    <p class="name">Priyanka</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	<br/>




<section class="testimony-section">
<!-- Modal -->
<div class="modal fade" id="enggModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="mb-1 h4 font-weight-bold">Apply for Engineering Admissions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {% if new_form %}
    <div class="d-flex container align-items-center justify-content-center my-auto" style="height:100%;">
   <h3>
    {{ new_form }}
    </h3>
    </div>
   {% else %}
 {% load crispy_forms_tags %}
 <div class="d-flex container align-items-center justify-content-center my-auto col-8 ">
                <form action="{% url 'forms' %}" method="POST">
                    {% csrf_token %}
                    {{ engg_form | crispy  }}
                  <div class="form-group">
                    <input type="submit" value="Submit" style="border-radius:0;" class="btn py-2 px-3 btn-primary">
                  </div>
            </form>
<div/>
    {% endif %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</section>


<section class="testimony-section">
<!-- Modal -->
<div class="modal fade" id="medModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="mb-1 h4 font-weight-bold">Apply for Medical Admissions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {% if new_form %}
    <div class="d-flex container align-items-center justify-content-center my-auto" style="height:100%;">
   <h3>
    {{ new_form }}
    </h3>
    </div>
   {% else %}
 {% load crispy_forms_tags %}
 <div class="d-flex container align-items-center justify-content-center my-auto col-8 ">
                <form action="{% url 'Medicalform' %}" method="POST">
                    {% csrf_token %}
                    <p class="text-danger" style="font-family: Times New Roman;">Note: We do only counselling for MBBS & BDS(strictly no admissions*). </p>
                    {{ med_form | crispy  }}
                  <div class="form-group">
                    <input type="submit" value="Submit" style="border-radius:0;" class="btn py-2 px-3 btn-primary">
                  </div>
            </form>
<div/>
    {% endif %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

</section>
<section class="testimony-section">
<!-- Modal -->
<div class="modal fade" id="aviationModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="mb-1 h4 font-weight-bold">Apply for Aviation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {% if new_form %}
    <div class="d-flex container align-items-center justify-content-center my-auto" style="height:100%;">
   <h3>
    {{ new_form }}
    </h3>
    </div>
   {% else %}
 {% load crispy_forms_tags %}
 <div class="d-flex container align-items-center justify-content-center my-auto col-8 ">
                <form action="{% url 'Aviationform' %}" method="POST">
                    {% csrf_token %}
                    {{ aviation_form | crispy  }}
                  <div class="form-group">
                    <input type="submit" value="Submit" style="border-radius:0;" class="btn py-2 px-3 btn-primary">
                  </div>
            </form>
<div/>
    {% endif %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</section>
<section class="testimony-section">
<!-- Modal -->
<div class="modal fade" id="architectureModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="mb-1 h4 font-weight-bold">Apply for Architecture</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {% if new_form %}
    <div class="d-flex container align-items-center justify-content-center my-auto" style="height:100%;">
   <h3>
    {{ new_form }}
    </h3>
    </div>
   {% else %}
 {% load crispy_forms_tags %}
 <div class="d-flex container align-items-center justify-content-center my-auto col-8 ">
                <form action="{% url 'Architectureform' %}" method="POST">
                    {% csrf_token %}
                    {{ arch_form | crispy  }}
                  <div class="form-group">
                    <input type="submit" value="Submit" style="border-radius:0;" class="btn py-2 px-3 btn-primary">
                  </div>
            </form>
<div/>
    {% endif %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</section>
<section class="testimony-section">
<div class="modal fade" id="PGmedModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="mb-1 h4 font-weight-bold">Apply for PG Medical</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {% if new_form %}
    <div class="d-flex container align-items-center justify-content-center my-auto" style="height:100%;">
   <h3>
    {{ new_form }}
    </h3>
    </div>
   {% else %}
 {% load crispy_forms_tags %}
 <div class="d-flex container align-items-center justify-content-center my-auto col-8 ">
                <form action="{% url 'PGMedicalform' %}" method="POST">
                    {% csrf_token %}
<p class="text-danger" style="font-family: Times New Roman;">Note: We do only counselling* </p>                    {{ PGmed_form | crispy  }}
                  <div class="form-group">
                    <input type="submit" value="Submit" style="border-radius:0;" class="btn py-2 px-3 btn-primary">
                  </div>
            </form>
<div/>
    {% endif %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</section>
<section class="testimony-section">
<div class="modal fade" id="LMCModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="mb-1 h4 font-weight-bold">Apply for Law/Management/Commerce</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {% if new_form %}
    <div class="d-flex container align-items-center justify-content-center my-auto" style="height:100%;">
   <h3>
    {{ new_form }}
    </h3>
    </div>
   {% else %}
 {% load crispy_forms_tags %}
 <div class="d-flex container align-items-center justify-content-center my-auto col-8 ">
                <form action="{% url 'LMCform' %}" method="POST">
                    {% csrf_token %}
                    {{ LMC_form | crispy  }}
                  <div class="form-group">
                    <input type="submit" value="Submit" style="border-radius:0;" class="btn py-2 px-3 btn-primary">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
            </form>
<div/>
    {% endif %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</section>

{% endblock  %}
