{% extends 'base.html' %}
{% block title %}
About
{% endblock  %}

{% block content %}
{% load static %}

    {% block navbar %}
        <li><a href="{% url 'home' %}" class="c-font-uppercase c-font-bold">Home</a></li>
        <li><a href="{% url 'about' %}" class="c-font-uppercase c-font-bold">About</a></li>
        <li><a href="{% url 'blog' %}" class="c-font-uppercase c-font-bold">Blog</a></li>
        <li><a href="{% url 'contact' %}" class="c-font-uppercase c-font-bold">Contact</a></li>
    {% endblock navbar %}


	<!-- BEGIN: PAGE CONTAINER -->
	<div class="container container c-margin-b-30">
        <div class="c-content-box c-size-lg c-bg-img-top c-bg-white">
            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">Career Counselling</h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="">
                <div class="c-content-title-1 c-title-md c-margin-b-20 clearfix">
                    <h3 class="c-center c-font-uppercase c-font-bold">Fill the Form</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <form class="form-horizontal col-md-8" action="" method="POST" style="margin: 0 17%;">
                    {% csrf_token %}
                    <input type="hidden" name="FormType" value='Career'>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" name="Name" class="form-control  c-square c-theme col-md-4" id="inputEmail3" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" name="Phone" class="form-control  c-square c-theme col-md-4" id="inputEmail3" placeholder="Phone No.">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" name="Qualification" class="form-control  c-square c-theme col-md-4" id="inputEmail3" placeholder="Qualification">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" name="Details" class="form-control  c-square c-theme col-md-4" id="inputPassword3" placeholder="Need counselling in...">
                        </div>
                    </div>
                <div class="col-sm-offset-3 col-md-6">
                    <button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" style="margin: 0 30%;">Submit</button>
                </div>
                </form>
            </div>
        </div>
	</div>
	<!-- END: PAGE CONTAINER -->

{% endblock content %}