{% extends 'base.html' %}
{% block title %}
About
{% endblock  %}

{% block content %}
{% load static %}

    {% block navbar %}
        <li><a href="{% url 'home' %}" class="c-font-uppercase c-font-bold">Home</a></li>
        <li><a href="{% url 'about' %}" class="c-font-uppercase c-font-bold">About</a></li>
        <li><a href="{% url 'blog' %}" class="c-font-uppercase c-font-bold">Blog</a></li>
        <li><a href="{% url 'contact' %}" class="c-font-uppercase c-font-bold">Contact</a></li>
    {% endblock navbar %}


	<!-- BEGIN: PAGE CONTAINER -->
	<div class="c-layout-page">
        <div class="c-content-box c-size-lg c-bg-img-top c-bg-white">
            <div class="container">
                <p>Get Career counselling/Counselling guidance for colleges, courses, exams, career from professional educational consultants.</p>
                <h3>Form includes</h3>

                <li>Name</li>
                <li>Phone No</li>
                <li>Qualification</li>
                <li>Need Counselling</li>
            </div>
        </div>
	</div>
	<!-- END: PAGE CONTAINER -->

{% endblock content %}