{% extends 'base.html' %}
{% block title %}
Blog
{% endblock  %}

{% block content %}
{% load static %}

    {% block navbar %}
        <li><a href="{% url 'home' %}" class="c-font-uppercase c-font-bold">Home</a></li>
        <li><a href="{% url 'about' %}" class="c-font-uppercase c-font-bold">About</a></li>
        <li class="c-active"><a href="{% url 'blog' %}" class="c-font-uppercase c-font-bold">Blog</a></li>
        <li><a href="{% url 'contact' %}" class="c-font-uppercase c-font-bold">Contact</a></li>
    {% endblock navbar %}


<div class="c-layout-page" style="
        width: 60%;
        margin: 85px auto;
        position: relative;
    ">
        
        <p class="text-center c-font-25"><u>All Articles</u></p>
        <div class="row justify-content-center">
            {% for  blog in blog_list  %}
                <div class="col-sm-10 col-md-10 col-lg-6 text-center" style="margin-bottom: 3%;">
                    <a href="{% url 'details' blog.slug %}"><img style="max-width: 100%; margin-bottom: 10px; border: 1px solid #cedce4;" src="{{ blog.image.url }}" alt=""><p class="c-font-18 c-font-bold">{{blog.title}}</p></a>
                </div>
            {% endfor %}
        </div>

    </div>
    </div>
    <!-- END: PAGE CONTAINER -->

    </div>
    <!-- END: PAGE CONTAINER -->
{% endblock content %}