{% extends 'base.html' %}
{% block title %}
{{singleBlog.title}}
{% endblock  %}

{% block content %}
{% load static %}

  {% if 404_error %}
  {{ 404_error|safe }}
  
  {% endif %}


    {% block navbar %}
        <li><a href="{% url 'home' %}" class="c-font-uppercase c-font-bold">Home</a></li>
        <li><a href="{% url 'about' %}" class="c-font-uppercase c-font-bold">About</a></li>
        <li class="c-active"><a href="{% url 'blog' %}" class="c-font-uppercase c-font-bold">Blog</a></li>
        <li><a href="{% url 'contact' %}" class="c-font-uppercase c-font-bold">Contact</a></li>
    {% endblock navbar %}

    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page">
        <div class="row justify-content-center" style="
    width: 70%;
    margin: 80px auto;
">
<h1 class="c-title c-font-bold c-font-uppercase c-font-30 text-center" style="font-weight: bold;">{{singleBlog.title}}</h1>
            <img src="{{ singleBlog.image.url }}" alt="" style="max-width: 100%;">

            <div class="c-panel c-margin-b-10 c-margin-t-20">
                <div class="c-author" style="
    margin-right: 2%;
"><a href="#">By <span class="c-font-uppercase">{{ singleBlog.author|title }}</span></a></div>
                <div class="c-date">on <span class="c-font-uppercase">{{ singleBlog.pub_date_pro}} | {{ singleBlog.author|title }} </span></div>

            </div>
            <hr>
            <div class="blog-body" style="line-height: 2; margin-bottom: 10%;">
                {% autoescape off %} {{ singleBlog.body }} {% endautoescape %}
            </div>
            <div class="comment-section">
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold">Leave A Comment</h3>
            {% if new_comment %}
                    <div class="c-line-left"></div>
                </div>
                
                {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" placeholder="Your Name" class="form-control c-square" name="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Your Email" class="form-control c-square" name=email>
                    </div>
                    <div class="form-group">
                        <textarea rows="8" name="body" placeholder="Write comment here ..."
                            class="form-control c-square"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit"
                            class="btn c-theme-btn c-btn-uppercase btn-md c-btn-sbold btn-block c-btn-square">Submit</button>
                    </div>
                </form>
            </div>
            {% endif %}
            
        </div>
    </div>
    <!-- END: PAGE CONTAINER -->

{% endblock content %}