{% extends "base.html" %}
{% block title %}
{% if submitbutton == 'cat' %}
Category : {{ query }}
{% else %}
Results for {{ request.GET.q }}
{% endif %}
{% endblock %}

{% block navbar %}
        <li><a href="{% url 'home' %}" class="c-font-uppercase c-font-bold">Home</a></li>
        <li><a href="{% url 'about' %}" class="c-font-uppercase c-font-bold">About</a></li>
        <li><a href="{% url 'blog' %}" class="c-font-uppercase c-font-bold">Blog</a></li>
        <li><a href="{% url 'contact' %}" class="c-font-uppercase c-font-bold">Contact</a></li>
    {% endblock navbar %}

{% block content %}
<div class="c-layout-page container" style="background: rgb(0 41 64 / 9%); margin-top:150px;">

{% if submitbutton == 'cat' %}
<section class="ftco-section bg-light" style="padding-bottom: 5px; padding-top: 20px">
<h1>Category:<b>{{ query }}</b></h1>
    <div class="container">
      <div class="row">
        {% for blog in results %}
         <div class="col-sm-10 col-md-10 col-lg-6 text-center" style="
                    margin-bottom: 3%;
                    ">
                                <a href="{% url 'details' blog.slug %}">
                                    <img style="
                    max-width: 100%;
                    " src="{{ blog.image.url }}" alt="">
                        <p class="c-font-20">{{blog.title}}</p>
                    </a>
                </div>
        {% endfor %}
        </div>
        <br/>
    </div>
</section>
{% else %}
{% endif %}


  {% if results %}
      <section class="ftco-section bg-light" style="padding-bottom: 5px; padding-top: 20px">
      <h1>Results for <b>{{ request.GET.q }}</b></h1>
          <div class="container">
            <div class="row">
              {% for blog in results %}
              <div class="col-sm-10 col-md-10 col-lg-6 text-center" style="
                          margin-bottom: 3%;
                          ">
                                      <a href="{% url 'details' blog.slug %}">
                                          <img style="
                          max-width: 100%;
                          " src="{{ blog.image.url }}" alt="">
                              <p class="c-font-20">{{blog.title}}</p>
                          </a>
                      </div>
              {% endfor %}
              </div>
              <br/>
          </div>
      </section>
{% else %}
<h1>No results for this query</h1>
{% endif %}
</div>
{% endblock  %}